/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HiveswapAlternian-Regular";

  src: url("./fonts/hiveswapalternianfontbyorangeypeelsdbnnyid.svg") format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}