@font-face {
    font-family: 'Hiveswap Alternian';
    src: url('HiveswapAlternian-Regular.woff2') format('woff2'),
        url('HiveswapAlternian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

