/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HiveswapAlternian-Regular";

  src: url(https://raw.githubusercontent.com/Yugi31/Abyss-tsa/master/hiveswapalternianfontbyorangeypeelsdbnnyid.svg) format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
